<nav class="navbar bg-body-tertiary">    
  <div class="container-fluid">
    <div class="d-flex" style="height: 5vh;">
  
    </div>
    

  <ul class="nav ">       

    <div class="d-flex" style="width: auto; font-size: 16px; font-weight: 400;">
    <div class="m-2"><strong>Usuario: </strong>Carlos Humberto </div>
    <div class="m-2"><strong>Data:  </strong>{{ clockService.time$ | async | date:'dd/MM/yyyy' }} </div>
    <div class="m-2"><strong>Hora: </strong>{{ clockService.time$ | async | date:'HH:mm:ss' }} </div>      
    </div>

    <li class="nav-item">
      <a class="nav-link" href="#" tabindex="-1" aria-disabled="true" style="font-size: 16px; font-weight: 400;" (click)="handleLogged()"><i></i>Sair</a>
    </li>

    
  </ul>
  </div>
</nav>
