/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.layout-sideBar{
    display: flex;
    padding: 1.5rem;
    height: 100vh;
    width: 10vw;
    background-color: rgb(250, 249, 249);
    font-size: 16px;
}

/* Sidebar fixa */
.sidebar {
  display: flex;
  flex-direction: column;
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  overflow: hidden;
  z-index: 999;
    
}


